.avatar {
    width: 24px;
    height: 24px;
}

.small_icon {

    width: 20px;
    height: 20px;

}

ion-content{
    --ion-background-color: #f4f5f8;
}

ion-card{
    --ion-background-color: white;
}