<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <p class="ion-text-center" style="background-color:white;height:50px;line-height: 50px" (click)="presentModal(current_user)">编辑个人资料</p>
  <p class="ion-text-center" style="background-color:white;height:50px;line-height: 50px" (click)="presentModal_password(current_user)">修改密码</p>
  <p class="ion-text-center" style="background-color:white;height:50px;line-height: 50px" (click)="quit()">退出</p>
  


</ion-content>
