<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>修改密码</ion-title>

    <ion-buttons slot="primary">
      <ion-button type="submit" (click)="credentialsForm.valid && postinfo()" [disabled]="!credentialsForm.valid">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="credentialsForm">
    <div class="ion-padding">
      <ion-item>
        <ion-label>原密码</ion-label>
        <ion-input formControlName="oldpassword" type="password" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>新密码</ion-label>
        <ion-input formControlName="newpassword" type="password" placeholder=""></ion-input>
        <p *ngIf="credentialsForm.get('newpassword').hasError('minlength')">长度至少4位</p>
      </ion-item>
      <ion-item>
        <ion-label>确认密码</ion-label>
        <ion-input formControlName="confirmPassword" type="password" placeholder=""></ion-input>
          <p *ngIf="credentialsForm.controls['confirmPassword'].errors?.passwordNotMatch">
          与新密码不匹配
          </p>
      </ion-item>
    </div>
  </form>

</ion-content>