<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-title>发布信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list> 
    <ion-item>
      <ion-icon>
      </ion-icon>
      <ion-label>宠物走失</ion-label>
      <ion-button [routerLink]="['/tabs/post/postlost']">click</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon>
      </ion-icon>
      <ion-label>领养信息</ion-label>
      <ion-button [routerLink]="['/tabs/post/postpet']">click</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
