ion-slides {
    height: 300px;
 }

.blue_radius_button {
    border-radius: 5px;
    background-color: royalblue; 
    font: icon; 
    color: white;
}

.red_radius_button {
    border-radius: 5px;
    background-color: palevioletred; 
    font: icon; 
    color: white;
}

.label_text {
    text-align:center;
}

.value_text {
    text-align: center;
    color: black;
}